<!DOCTYPE html>
<html lang="en">
<head>
  <link type="text/css" rel="stylesheet"
        href="{{ static_url_for('static', filename='css/app.css') }}">

  <script type="text/javascript"
          src="{{ static_url_for('static', filename='js/app.js') }}"></script>
</head>

<body>
  <h1>This is an example application</h1>

  <a href="{{ url_for('index') }}">Index</a>
  <a href="{{ url_for('about.index') }}">About</a>
  <a href="{{ url_for('about.story.index') }}">About: Story</a>
  <a href="{{ url_for('about.team.index') }}">About: Team</a>
  <a href="{{ url_for('contact.index') }}">Contact</a>

  {% block body %}{% endblock %}
</body>
</html>
